.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--black75);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.modal .product-gallery-main-image {
    max-width: 50rem;
}

.modal .product-gallery-thumbnail-active-border,
.modal .product-gallery-thumbnail-border:hover {
    background-color: var(--white);
}

.modal .btn-modal-close {
    position: absolute;
    display: block;
    top: -4rem;
    right: 0;
    fill: var(--white);
    transform: scale(1.5);
    cursor: pointer;
}

.modal .btn-modal-previous-container,
.modal .btn-modal-next-container {
    position: absolute;
    top: 21.5rem;
    background-color: var(--white);
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: var(--very-dark-blue);
    cursor: pointer;
}

.modal .btn-modal-previous-container {
    left: -2.5rem;
}

.modal .btn-modal-next-container {
    right: -2.5rem;
}

.modal .btn-modal-close:hover {
    fill: var(--orange);
}

.modal .btn-modal-previous-container:hover,
.modal .btn-modal-next-container:hover {
    stroke: var(--orange);
}

/* MEDIA QUERIES */
@media screen and (max-width: 375px) {
    .modal {
        display: none;   
    }
}
