.header {
    width: 100%;
    padding: 3rem 0;
    box-shadow: 0 0.05rem 0 0 var(--grayish-blue);
}

.header,
.navbar,
.navbar-menu,
.navbar-items {
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
}

.navbar-logo {
    margin-right: 6rem;
}

.navbar-menu-link {
    margin-right: 3rem;
}

.navbar-items {
    position: relative;
}

.navbar-item-cart-pop-up {
    position: absolute;
    top: 6rem;
    right: 0;
    width: 30rem;
    height: 19rem;
    border: 2px solid black;
}

.navbar-item-cart-icon-container {
    position: relative;
    cursor: pointer;
}

.navbar-item-cart-icon {
    margin-right: 5rem;
    width: 2.5rem;
}

.navbar-item-avatar {
    width: 5rem;
    cursor: pointer;
    border: 0.2rem solid transparent;
    border-radius: 50%;
}

/* Hover Effects, Active styles */
.navbar-item-cart-icon-container:hover,
.navbar-item-avatar:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-out;
}

.navbar-item-avatar:hover {
    border: 0.2rem solid var(--orange);
}

.navbar-menu-link:hover,
.active-link {
    border-bottom: 0.4rem solid var(--orange);
    padding-bottom: 4.2rem;
    color: var(--very-dark-blue);
}

.navbar-item-cart-icon-bubble {
    position: absolute;
    top: -5px;
    right: 46px;
    width: 1.7rem;
    height: 1.3rem;
    border-radius: 0.6rem;
    background-color: var(--orange);
}

.navbar-item-cart-icon-number {
    position: absolute;
    top: -1.2rem;
    right: 5.2rem;
    font-size: 1rem;
    color: var(--white);
}

.hidden {
    display: none;
}
