.header {
    width: 100%;
    padding: 3rem 0;
    box-shadow: 0 0.05rem 0 0 var(--grayish-blue);
}

.header,
.navbar,
.navbar-menu,
.navbar-items {
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
}

.navbar-hamburger {
    display: none;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.6rem;
    cursor: pointer;
}

.navbar-logo {
    margin-right: 6rem;
}

.btn-navbar-close {
    display: none;
}

.navbar-menu-link {
    margin-right: 3rem;
}

/* Navbar additional items - cart pop-up, cart icon and avatar */
.navbar-items {
    position: relative;
}

/* Cart Pop-Up */
.hidden {
    display: none;
}

.cart-pop-up-empty {
    padding: 19.5% 28%;
}

.navbar-item-cart-pop-up {
    position: absolute;
    top: 6rem;
    right: -6rem;
    width: 36rem;
    height: 24.5rem;
    background-color: var(--white);
    box-shadow: 0 0.4rem 0.8rem var(--grayish-blue),
                0 0.6rem 2rem var(--grayish-blue);
    border-radius: 1rem;
}

.cart-pop-up-title {
    padding: 2rem;
}

.cart-pop-up-details {
    box-shadow: 0 -0.05rem 0 0 var(--grayish-blue);
}

.cart-pop-up-title,
.cart-pop-up-product-text strong {
    color: var(--very-dark-blue);
}

.cart-pop-up-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.cart-pop-up-product-image {
    width: 5rem;
    border-radius: 0.5rem;
}

.cart-pop-up-product-delete {
    width: 1.6rem;
    cursor: pointer;
}

.btn-cart-pop-up {
    width: 89%;
    color: var(--white);
    font-weight: 700;
    background-color: var(--orange);
    border: none;
    border-radius: 1rem;
    padding: 1.4rem;
    margin: 0 2rem 2.5rem 2rem;
    cursor: pointer;
}

/* Cart Icon */
.navbar-item-cart-icon-container {
    position: relative;
    cursor: pointer;
}

.navbar-item-cart-icon {
    margin-right: 5rem;
    width: 2.5rem;
}

.navbar-item-cart-icon-bubble {
    position: absolute;
    top: -0.5rem;
    right: 4.6rem;
    width: 1.7rem;
    height: 1.3rem;
    border-radius: 0.6rem;
    background-color: var(--orange);
}

.navbar-item-cart-icon-number {
    position: absolute;
    top: -1.2rem;
    right: 5.2rem;
    font-size: 1rem;
    color: var(--white);
}

/* Cart Avatar */
.navbar-item-avatar {
    width: 5rem;
    cursor: pointer;
    border: 0.2rem solid transparent;
    border-radius: 50%;
}

/* Hover Effects, Active styles */
.navbar-item-cart-icon-container:hover,
.navbar-item-avatar:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-out;
}

.cart-pop-up-product-delete:hover {
    transform: scale(1.15);
    transition: all 0.2s ease-out;
}

.btn-cart-pop-up:hover {
    opacity: 0.6;
    transition: all 0.2s ease-out;
}

.navbar-item-avatar:hover {
    border: 0.2rem solid var(--orange);
}

.navbar-menu-link:hover,
.active-link {
    border-bottom: 0.4rem solid var(--orange);
    padding-bottom: 4.2rem;
    color: var(--very-dark-blue);
}


/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
    .header {
        padding: 2rem 2.5rem;
        box-shadow: none;
    }

    .navbar-hamburger {
        display: inline-block;
    }

    .navbar-menu {
        /* display: none; */
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 40rem;
        height: 100vh;
        background-color: var(--white);
        color: var(--very-dark-blue);
        font-weight: 700;
        padding: 2.5rem;
        z-index: 1;
    }

    .btn-navbar-close {
        display: block;
        fill: var(--dark-grayish-blue);
        cursor: pointer;
        margin-bottom: 2.5rem;
    }

    .btn-navbar-close:hover {
        fill: var(--orange);
    }

    .navbar-menu > li {
        margin-top: 2.5rem;
    }

    .navbar-item-cart-pop-up {
        top: 5.5rem;
        right: -1.7rem;
        box-shadow: 0 0.4rem 0.8rem var(--grayish-blue);
        z-index: 1;
    }
}

@media screen and (max-width: 600px) {
    .navbar-logo {
        margin-right: 4rem;
    }

    .navbar-menu {
        width: 26rem;
    }

    .navbar-menu > li {
        margin-top: 1.5rem;
    }

    .navbar-item-cart-icon {
        margin-right: 1.6rem;
        width: 1.8rem;
    }

    .navbar-item-cart-icon-bubble {
        right: 1.2rem;
        width: 1.5rem;
        height: 1.1rem;
    }
    
    .navbar-item-cart-icon-number {
        top: -1.4rem;
        right: 1.7rem;
        font-size: 0.8rem;
    }

    .navbar-item-avatar {
        width: 2.5rem;
    }
}

/* TODO
- navbar hamburger and side menu
- add arrows at 900px to main image
*/
