.product-gallery-main-image {
    width: 45rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
}

.product-gallery-thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.product-gallery-thumbnail {
    width: 9rem;
    border-radius: 1rem;
    
}

.product-gallery-thumbnail-active-border {
    border: 2px solid var(--orange);
    border-radius: 1.3rem;
}

.product-gallery-thumbnail-active {
    opacity: 0.3;   
}

