.product-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-gallery-main-image-container {
    position: relative;
}

.btn-modal-close,
.btn-modal-previous-container,
.btn-modal-next-container {
    display: none;
}

.product-gallery-main-image {
    min-width: 20rem;
    width: 100%;
    max-width: 40rem;
    border-radius: 1.6rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

.product-gallery-thumbnails {
    width: 100%;
    max-width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.8rem;
    cursor: pointer;
}

.product-gallery-thumbnail {
    width: 100%;
    border-radius: 1rem;    
}

.product-gallery-thumbnail-border {
    border: transparent;
    border-radius: 1.3rem;
}

.product-gallery-thumbnail-active-border {
    border: 2px solid var(--orange);
    border-radius: 1.3rem;
}

.product-gallery-thumbnail-active,
.product-gallery-thumbnail:hover {
    opacity: 0.3;
    transition: all 0.2s ease-out;
}

